<header>
    <nav class="header">
        <nav class="container_header_1">
            <button onclick="return cambiar()"><img src="../icons/menu.svg" alt=""> </button>
                <h1 >Tu viaje.com</h1>
        </nav>

        <nav class="container_header_2" id="container_header_2">
            <ul>
                <li><a href="/ingresar">Iniciar</a></li>
                <li><a href="/registrarse">Registrarse</a></li>
                <li><div><img src="../icons/search.svg" alt="" >
                
                    <form action="/">
                    <input type="search"  name="buscar" id="buscar" placeholder="Buscar Blog ...">
                    <input type="submit" value="Buscar" id="Buscar"  style="padding:0px 5px;background-color: rgb(129, 129, 149);">
                </form>
                </div></li>
            </ul>
        </nav>
    </nav>
</header>
