@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');



#articulo{
  background: rgb(253,187,45);
  background: linear-gradient(45deg, rgba(253,187,45,1) 64%, rgba(34,193,195,1) 64%);


  padding:5% 0% ;
  min-height: 800px;
}

.titulo_principal{
  margin:auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  font-size: 2.3rem;
}







    /* estilos de el formulario */
#formulario_agregar{
    text-align: center;
    margin: auto;
    margin-top: 20px;

}

#formulario_agregar form input{
    width: 95%;
    max-width:300px;
    min-height: 20px;
    margin-bottom: 10px;
}

#formulario_agregar form p{
    margin: 5px;
}

#contenedor_contenido{
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin: auto;

}


#contenido{
    width: 100px;
    height: 500px;
}


/* estilos de el boton de enviar/agregar */

#agregar_publicacion{

    padding: 5px;
   background-color: #0c4055;
   border: none;
   color:wheat;

}

#agregar_publicacion:hover{

   background-color: #1454a7;

}
