@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

    /* para que tenga este color a los exteriores de el contenedor y espacio con el footer*/
#articulo_reg{
    background-color: #FFDFB5;
    padding-bottom: 15%;
}

    /* botones nav internos */
.cabezera_interna{
    width:90%;

    margin: auto;
    padding: 5px;

    background-color:#FFDFB5;

    display: flex;
    flex-flow: row wrap;
}
        /* para los botones internos */
.cabezera_interna .nav_inter {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-flow: row wrap;
}


.cabezera_interna .nav_inter {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-flow: row wrap;
}


.cabezera_interna .nav_inter a {
    background-color: #b8860b;
    color: black;

    text-align: center;
    text-decoration: none;

    padding: 10px;
    margin: 5px;
}
.cabezera_interna .nav_inter a:hover {
    background-color: #d89d0d;
}


#usuario{
    color: black;

    text-align: center;
    text-decoration: none;

    padding: 10px;


    margin: 5px;

}

#separador{
    margin: auto 0px;
}
#salir{
    background-color: transparent;
    color: blue;

    text-align: center;
    text-decoration: none;

    padding: 10px;
    margin: 5px;
}




    /* titulo principal */

.cabezera_interna .titulo_principal{
    margin: auto;
}
.cabezera_interna .titulo_principal h1{
    font-size: 40px;
    text-align: center;
   font-family: 'Staatliches', cursive;
}


     /* tabla y contenido */
article .publicaciones{
    min-height: 400px;

    padding: 10px;
    margin: auto;
    text-align: center;
}

article .publicaciones table{
margin: auto;
}

article .publicaciones table tr th{
    background-color: burlywood;
    border: 1px solid black;
    padding: 10px 50px;
}
article .publicaciones table tr td{
    border: 1px solid black;
    padding: 10px 50px;
}

        /* boton de agregar mas  */
article #agregar{

    width: 100px;


    padding:5px;
    margin: 20px auto;

    display: block;
    background-color: #4749a8;

    text-align: center;
    text-decoration: none;
    color: black;
}
article #agregar:hover{
    background-color: #585ab9;
}





@media screen and (max-width: 700px) {
    table {
      display: block;
      overflow-x: auto;
    }


}

@media screen and (max-width: 500px) {

    /* para ajustar esto */
    #usuario{
        margin: auto;
        
        }
        #separador{
            display: none;
        }
        #salir{
            margin: auto;
        
        }


}
