@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');


#articulo{
  background: rgb(253,187,45);
  background: linear-gradient(45deg, rgba(253,187,45,1) 64%, rgba(34,193,195,1) 64%);


  padding:5% 0% ;
  min-height: 800px;
}

.titulo_principal{
  margin:auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  font-size: 2.3rem;
}





     /* tabla y contenido */
article .publicaciones{
    min-height: 400px;

    padding: 10px;
    margin: auto;
    text-align: center;
}

article .publicaciones table{
margin: auto;
}

article .publicaciones table tr th{
    background-color: burlywood;
    border: 1px solid black;
    padding: 10px 50px;
}
article .publicaciones table tr td{
    border: 1px solid black;
    padding: 10px 50px;
}

        /* boton de agregar mas  */
article #agregar{

    width: 100px;


    padding:5px;
    margin: 20px auto;

    display: block;
    background-color: #4749a8;

    text-align: center;
    text-decoration: none;
    color: black;
}
article #agregar:hover{
    background-color: #585ab9;
}





@media screen and (max-width: 700px) {
    table {
      display: block;
      overflow-x: auto;
    }


}
