    /* para que tenga este color a los exteriores de el contenedor */
#articulo{
    background-color: #FFDFB5;
    padding-bottom:10%;
    min-height: 800px;
}


/* botones y tituo  */
.cabezera_interna{
    width:90%;
    
    margin: auto;
    padding: 5px;
    
    background-color: #FFDFB5;
    
    display: flex;
    flex-flow: row wrap;
}
    


/* para los botones internos */
#mi_cuenta{
    background-color: blue;
}
#mi_cuenta:hover{
    background-color: rgb(85, 85, 233);
}

.cabezera_interna .nav_inter {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-flow: row wrap;
}
.cabezera_interna .nav_inter > a {
    background-color: #b8860b;
    color: black;

    text-align: center;
    text-decoration: none;

    padding: 10px;
    margin: 5px;
 }    
.cabezera_interna .nav_inter > a:hover {
    background-color: #d89d0d;
}

#usuario{
    color: black;

    text-align: center;
    text-decoration: none;

    padding: 10px;


    margin: 5px;

}
#separador{
  margin:auto 0px;
}
#salir{
    background-color: transparent;
    color: blue;

    text-align: center;
    text-decoration: none;

    padding: 10px;
    margin: 5px;

}

    /* publicado por autor */
.contenedor_publicado_por{
    text-align: center;
    margin: auto 10%;
    margin-right: 10px;
    display: flex;
}



#autor{
    margin: auto;
}    
#publicado_por{
    margin: auto;
}

.img_user{
    margin:5px ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}


.votos{
    margin: auto 0px; 
    display: flex;
}
.votos p{
    margin: auto;
}
.votos p:first-child{
    margin: auto 10px;
}


.votos a img{
    margin: auto 5px;
}
.votos a{
    margin: auto;
}




        /* para los contenedores */
.container_1{
    width: 90%;
    margin: auto;
    text-align: center;
}
.container_1 :first-child {
    font-size: 42px;
    border-bottom: 2px black solid;
    margin-bottom: 10px;
    
}


