@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');


    /* para que tenga este color a los exteriores de el contenedor */
#articulo{
    background-color: #FFDFB5;
    padding-bottom:10%;
    min-height: 800px;
}


    /* botones y tituo  */
.cabezera_interna{
    width:90%;

    margin: auto;
    padding: 5px;

    background-color: #FFDFB5;

    display: flex;
    flex-flow: row wrap;
}



        /* para los botones internos */
.cabezera_interna .nav_inter {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    flex-flow: row wrap;
}
.cabezera_interna .nav_inter a {
    background-color: #b8860b;
    color: black;

    text-align: center;
    text-decoration: none;

    padding: 10px;
    margin: 5px;
}
.cabezera_interna .nav_inter a:hover {
    background-color: #d89d0d;
}


#mi_cuenta{
    background-color: blue;
}
#mi_cuenta:hover{
    background-color: rgb(85, 85, 233);
}
#usuario{
    color: black;

    text-align: center;
    text-decoration: none;

    padding: 10px;


    margin: 5px;

}
#separador{
  margin:auto 0px;
}
#salir{
    background-color: transparent;
    color: blue;

    text-align: center;
    text-decoration: none;

    padding: 10px;
    margin: 5px;

}


    /* titulo principal */

.cabezera_interna .titulo_principal{
    margin: auto;
}
.cabezera_interna .titulo_principal h1{
    font-size: 40px;
    text-align: center;
   font-family: 'Staatliches', cursive;
}



        /* Contenedor Base */
.container_article{
    width: 90%;
    

    padding: 50px 5px;
    margin: auto;

    background-color: #FFDFB5;

    display: grid;
    grid-template-columns: repeat(12 ,1fr);


}



        /* los contenedores principales */
.container_article .container_1{
    width: 100%;
    height: 100%;
    background-color: #46ABE3;

    grid-column: 4/6;
    grid-row: 2/3;
}
.container_article .container_2{
    grid-column: 4/10;
    grid-row: 3/4;

    background-color:#E39F46;
    padding: 10px;
    max-height: 100px;

    display: flex;
    flex-flow: row wrap;
}

.container_article .container_3{
    grid-column: 6/10;
    grid-row: 1/3;

    background-color:#4FC1FF ;

    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}



        /* darle una medida a la imagen de usuario */
.container_article .container_1 .imagen_user{
    width: 100px;
    height: 100px;
    border-radius: 50%;


    padding: 15px;
    margin: auto;

    display: block;
}




        /* darle forma a los contenedores de nombre de usuario fecha y likes */
.container_article .container_3 >div{
    width: 100%;
    max-width: 300px;

    border: rgb(0, 0, 0) 1px solid;
    border-radius: 20px 0px;

    margin-bottom: 2px;

    display: flex;
    flex-flow: row wrap;
}

.container_article .container_3 div div{
    margin: auto;
    padding: 2px 3px;
}



            /* Para ubicar los nombre de usuario fecha y likes */
.container_article .container_3 div p{
    padding: 5px;
    margin: auto;
    margin-left: 2px;    
}
.container_article .container_3 div h3{
    padding-left: 10px;
    margin: auto ;
    text-align: center;
}

.container_article .container_3 div img{
    margin: auto ;
    margin-right: 2px;
}
.container_article .container_3 div:last-child p{
    margin: auto;
    margin-left: 2px;

}


        /* para datle forma al titulo y resumen */
.container_article .container_2 .titulo{
    width: 100%;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;

    padding: 5px;
    margin: auto;
    margin-bottom: 10px;

}
.container_article .container_2 .resumen{
    width: 100%;
    height: 75px;
    text-align: center;
    overflow: hidden;





}



    /* para el boton de siguiente y anterior  */

.cabezera_interna_inf{
    width:90%;
    
    margin: auto;
    padding: 5px;

    background-color: #FFDFB5;
    
    display: flex;
    flex-flow: row wrap;
}
.cabezera_interna_inf .nav_inter_inf {
    width: 100%;
    max-width: 200px;

    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
    margin: auto;
}
.cabezera_interna_inf .nav_inter_inf a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: auto;
}
.cabezera_interna_inf .nav_inter_inf p{
    text-align: center;
    padding: 10px;
    margin: auto;
}


.cabezera_interna_inf .nav_inter_inf a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 1px;

}

@media(max-width:800px){
    
            /* para que los contenedores sean responsive en esta medida */
    .cabezera_interna{
        width: 95%;

    }
    .container_article{
        width: 95%;


    }
    .container_article .container_1{
        grid-column: 2/6;
        grid-row: 2/3;
    }
    .container_article .container_2{
        grid-column: 2/12;
        grid-row: 3/4;
    }
    .container_article .container_3{
        grid-column: 6/12;
        grid-row: 1/3;
    }

    /* para ajustar esto  */
    #usuario{
    margin: auto;
    
    }
    #separador{
        display: none;
    }
    #salir{
        margin: auto;
    
    }





}

@media(max-width:500px){
            /* para que la imagen sea responsive  */
    .container_article .container_1 .imagen_user{
        max-width: 100px;
        max-height: 100px;

        width: 70%;
        height: 80%;

        margin: auto ;

    }
    .container_article .container_1 {
        height: auto;

    }
            /* para que los contenedores sean responsive en esta medida */


    .container_article .container_1{
        grid-column: 1/6;
        grid-row: 1/3;

        /* flexbox para hacer que la imagen este en el centro con margin auto  */
        display: flex; 

    }
    .container_article .container_2{
        grid-column: 1/13;
        grid-row: 3/4;
    }
    .container_article .container_3{
        grid-column: 6/13;
        grid-row: 1/3;
    }




            /* ubicar los titulos y parrafos */
    .container_article .container_3 div p{
        margin: auto;
    }
    .container_article .container_3 div h3{
        margin: auto ;
    }
}




@media(max-width:300px){
    /* para que la imagen sea responsive  */
    .container_article .container_1 .imagen_user{
    max-width: 70px;
    max-height: 70px;



    }
}