    /* para que tenga este color a los exteriores de el contenedor */
#articulo{
  background: rgb(253,187,45);
  background: linear-gradient(45deg, rgba(253,187,45,1) 64%, rgba(34,193,195,1) 64%);


  padding:5% 0% ;
  min-height: 800px;
}

.titulo_principal{
  margin:auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  font-size: 2.3rem;
}


    /* para los contenedores */

article .container_1 {
    width: 90%;
    margin: auto;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;

}
.seccion{
    width: 32%;
    margin: 10px auto;


}

.seccion_1{
    height: 50px;
    padding: 10px ;

    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;

    overflow: hidden;
    background: #27ddde;
    border-radius: 5px 5px 0px 0px;

}
.seccion_2{
    height: 80px;
    padding: 5px;
    margin: auto;

    border: 4px solid #27ddde;
    border-top: none;
    border-radius: 0px 0px 5px 5px;

    display: flex;
    flex-flow: column nowrap;

    overflow-y: auto;
}
.seccion_2 div{
    margin: auto;
    text-align: center;
    padding: 3px;
}





        /* para la imagen de los autores y nombres */

#imagen_autor{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
#nombre_autor{
    width: 100px;
    margin-left:    10px;

}






@media (max-width:800px){

    .seccion{
        width: 49%;

    }
}



@media (max-width:500px){
.seccion{
    width: 95%;

}

}
