@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

#articulo{
  background: rgb(253,187,45);
  background: linear-gradient(45deg, rgba(253,187,45,1) 64%, rgba(34,193,195,1) 64%);


  padding:5% 0% ;
  min-height: 800px;
}

.titulo_principal{
  margin:auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  font-size: 2.3rem;
}


    /* la imagen centrada  */
.container_1 fieldset{
    border: rgb(66, 23, 23) 2px solid;
}

.container_1 legend{
    margin: 5px;
    text-align: center;

}

.container_1 legend img{
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 2px solid white;
}


        /* lugar reservado para un error con la base de datos */
#mensaje_error{
    display: flex;
    flex-flow: row; wrap;
    justify-content: center;
    text-align: center;
    color: red;
}

        /* Contenedor Base */
.container_article{
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(12 ,1fr);

}
#formulario_content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;


    margin: auto;

    justify-content: center;
    align-items: center;


}
#formulario_content div{
    width: 90%;


    margin: auto;
    padding: 5px;


    text-align: center;


}

        /* estilos para los input  */
#formulario_content div div input{
    width: 95%;
    max-width:300px;
    min-height: 20px;
    margin-bottom: 10px;
}



        /* boton de el formulario */
#boton_enviar_form {
            background-color: #4749a8;
            color: black;
            text-align: center;
            text-decoration: none;
            padding: 10px;
            margin: 5px;
            margin: auto;
            border: none;

        }
#boton_enviar_form:hover {
            background-color: #585ab9;

        }




        /* los contenedores principales */
.container_article .container_1{
    width: 100%;
    height: 100%;

    grid-column: 3/11;
}



#formulario{
    padding: 10px;
}

@media(max-width:800px){

    .container_article{
        width: 95%;
    }
    .container_article .container_1{
        grid-column: 1/13;

    }

}
