#articulo{
  background: rgb(253,187,45);
  background: linear-gradient(45deg, rgba(253,187,45,1) 64%, rgba(34,193,195,1) 64%);


  padding:5% 0% ;
  min-height: 800px;
}
.author_cont{
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items: center;
}

.author_cont  div{
  display: flex;
  flex-flow: row wrap:
  justify-content:center;
  align-items: center;

}


.img_user{
    margin:5px ;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}


        /* para los contenedores */
.container_1{
    width: 90%;
    margin: auto;
    text-align: center;
}
.container_1 :first-child {
    font-size: 42px;
}


@media (max-width:500px) {
  .author_cont{
    flex-flow: column wrap;
  }
  .author_cont{
    margin-top: 10px;
    max-width: 200px;
  }

}
