@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');


    /* para que tenga este color a los exteriores de el contenedor */
#articulo{
    background: rgb(253,187,45);
    background: linear-gradient(45deg, rgba(253,187,45,1) 64%, rgba(34,193,195,1) 64%);


    padding:5% 0% ;
    min-height: 800px;
}
.titulo_principal{
  margin:auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  font-size: 2.3rem;
}

        /* Contenedor Base */
.container_article{
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(12 ,1fr);
    font-size: 1.2rem;
}

        /* los contenedores principales */
.container_article .container_1{
    width: 100%;
    height: 150px;


    background-color: #1ecdf6;
    grid-column: 3/6;
    grid-row: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container_article .container_2{
    grid-column: 3/11;
    grid-row: 3/4;

    background-color:#faab12;
    padding: 10px;
    max-height: 100px;

    display: flex;
    flex-flow: row wrap;
}

.container_article .container_3{
    grid-column: 6/11;
    grid-row: 1/3;

    background-color:#4ceedc ;

    padding: 10px;
    display: flex;
    flex-flow: column wrap;

    justify-content:space-between;
    align-items:flex-start;

    font-style: italic;
}






        /* darle una medida a la imagen de usuario */
.container_article .container_1 .imagen_user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

        /* darle forma a los contenedores de nombre de usuario fecha y likes */
.container_article .container_3 >div{
    display: flex;
    flex-flow: row wrap;
}

.container_article .container_3 div div{
    margin: auto;
    padding: 2px 3px;
}



            /* Para ubicar los nombre de usuario fecha y likes */
.container_article .container_3 div p{
    padding: 0px 5px ;
    margin: auto 0px;
}
.container_article .container_3 div h3{
    padding: 0px 5px;
    margin: auto 0px;

}



        /* para datle forma al titulo y resumen */
.container_article .container_2 .titulo{
    width: 100%;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;

    padding: 5px;
    margin: auto;
    margin-bottom: 10px;

}
.container_article .container_2 .resumen{
    width: 100%;
    height: 75px;
    text-align: center;
    overflow: hidden;





}



    /* para el boton de siguiente y anterior  */

.cabezera_interna_inf{
    width:90%;

    margin: auto;
    padding: 5px;


    display: flex;
    flex-flow: row wrap;
}
.cabezera_interna_inf .nav_inter_inf {
    width: 100%;
    max-width: 200px;

    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
    margin: auto;
}
.cabezera_interna_inf .nav_inter_inf a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: auto;
}
.cabezera_interna_inf .nav_inter_inf p{
    text-align: center;
    padding: 10px;
    margin: auto;
}


.cabezera_interna_inf .nav_inter_inf a:hover {
    border-bottom: 1px solid black;

}

@media(max-width:800px){
    .container_article{
      font-size: 1rem;
    }

    .container_article .container_1{
        grid-column: 2/6;
        grid-row: 2/3;
    }
    .container_article .container_2{
        grid-column: 2/12;
        grid-row: 3/4;
    }
    .container_article .container_3{
        grid-column: 6/12;
        grid-row: 1/3;
    }


}

@media(max-width:500px){

      /* para que los contenedores sean responsive en esta medida */


    .container_article .container_1{
        grid-column: 1/6;
        grid-row: 1/3;
        min-height: 120px;
        height: 100%;
    }
    .container_article .container_2{
        grid-column: 1/13;
        grid-row: 3/4;
    }
    .container_article .container_3{
        grid-column: 6/13;
        grid-row: 1/3;
    }

        /* para que la imagen sea responsive  */
    .container_article .container_1 .imagen_user{
      max-width: 100px;
      max-height: 150px;


      margin: auto ;

    }
    .titulo_principal{
      text-align: left;
      font-size: 1.8rem;
    }



}
