@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*{  padding: 0px;
    margin: 0px;
}
    
.header{
    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
    background: rgb(2,0,36);
    background: #6CB4EE

}    

.container_header_1{
    
    display: flex;
    flex-flow: row wrap;
}
.container_header_1 button{
    width: 40px;
    height: 40px;

    background-color: #6CB4EE;
    border-radius: 5px;
    border:2px solid #36250f ;


    margin:10px;
    display: none;
}
.container_header_1 button:active{
    background-color: #a77c40;
}


.container_header_1 h1{
    font-size: 3rem;
    font-family: 'Redressed', cursive;
    margin: auto 30px;

}

.container_header_2{
    display: flex;
    flex-flow: row wrap;

    justify-content:flex-end;
    align-items: center;
    background: #6CB4EE;

}
.container_header_2 a,.container_header_2 div{
    padding: 0px 20px;

    margin: 5px ;
    padding: 10px 15px;
    transition: padding 0.1s;

    text-decoration: none;
    font-size: 1rem;
    font-style: italic;
    color: #000;
}

.container_header_2 a:hover{
    padding-top: 8px;
    padding-bottom: 2px;

}


.container_header_2 div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_header_2 div img{
    margin: 5px;
    pointer-events: none;
}
.container_header_2 div form input{
    padding: 5px;
    height: 1.4rem;
    border: none;
    box-shadow: none;

    color: #6CB4EE;
    font-style: italic;
}


@media(max-width:800px){
    .header{
        display: block;
    }

    .container_header_1{
        width: 100%;
    }

    .container_header_1 h1{
        margin: auto 10px;
        font-size: 36px;
    }

    .container_header_1 button{
        display: block;
    }
   
    .container_header_2{
        width: 70%;
        height: 100%;

        max-width: 300px;
        padding-top: 20px;
        border-top: 2px solid #5fa9e6;

        flex-flow: column wrap;
        justify-content: start;
        position: fixed;
    }

    .container_header_2 img{
        display: none;
    }
    .container_header_2 a:hover{
        padding: 10px 15px;
    }

}

@keyframes animacion_header_1{
    to{
        left: -100%;
    }
    from{
        left:0%;
    }
}

@keyframes animacion_header_2{
    to{
        left: 0%;
    }
    from{
        left:-100%;
    }
}


